<div class="div-pages">
    <!-- Left Page -->
    <div class="div-left-page">
        <h2>Mes Passions (en dehors de l'informatique)</h2>
        <div>
            <h3>La Nintendo 3DS</h3>
            <div class="div-img float-right rotated-right">
                <img class="img-picture-large" src="assets/images/upia_monster.png">
            </div>
            <p>Blablaragraphe Blabla ragraphe Blablara graphe Blablar agraphe Blablar agraphe Blablar agrap he Bl abla ragraphe
                Blablara graphe Blablar agraphe B lablar agraphe Blablaragra phe Blabla ragraphe Bla Blablaragraphe Blabla ragraphe Blablara graphe Blablar agraphe Blablar agraphe Blablar agrap he Bl abla ragraphe
                Blablara graphe Blablar agraphe B lablar agraphe Blablaragra phe Blabla ragraphe Bla  Blablaragraphe Blabla ragraphe Blablara graphe Blablar agraphe Blablar agraphe Blablar agrap he Bl abla ragraphe
                Blablara graphe Blablar agraphe B lablar agraphe Blablaragra phe Blabla ragraphe Bla  </p>
        </div>
        <br>
        <div>
            <div class="div-img float-left rotated-left">
                <img class="img-picture-large" src="assets/images/upia_monster.png">
            </div>
            <p>Blablaragraphe Blabla ragraphe Blablara graphe Blablar agraphe Blablar agraphe Blablar agrap he Bl abla ragraphe
                Blablara graphe Blablar agraphe B lablar agraphe Blablaragra phe Blabla ragraphe Bla Blablaragraphe Blabla ragraphe
                Blablara graphe Blablar agraphe Blablar agraphe Blablar agrap he Bl abla ragraphe
                Blablara graphe Blablar agraphe B lablar agraphe Blablaragra phe Blabla ragraphe Bla </p>
        </div>
    </div>

    <!-- Right Page -->
    <div class="div-right-page">
        <h3>Le crochet</h3>
        <div class="div-inline">
            <div class="div-img rotated-left">
                <img class="img-picture-small" src="assets/images/upia_monster.png">
            </div>
            <p>Blablaragraphe Blabla ragraphe Blablara graphe Blablar agraphe Blablar agraphe Blablar agrap he Bl abla ragraphe
                Blablara graphe Blablar agraphe B lablar agraphe Blablaragra phe Blabla ragraphe Bla </p>
        </div>
        <div class="div-inline">
            <p>Blablaragraphe Blabla ragraphe Blablara graphe Blablar agraphe Blablar agraphe Blablar agrap he Bl abla ragraphe
                Blablara graphe Blablar agraphe B lablar agraphe BlablaragBlabla ragraphe Bla </p>
            <div class="div-img rotated-right">
                <img class="img-picture-large" src="assets/images/upia_monster.png">
            </div>
        </div>
        <div class="div-inline">
            <div class="div-img rotated-left">
                <img class="img-picture-small" src="assets/images/upia_monster.png">
            </div>
            <p>Blablaragraphe Blabla ragraphe Blablara graphe Blablar agraphe Blablar agraphe Blablar agrap he Bl abla ragraphe
                Blablara graphe Blablar agraphe B lablar agraphe Blablarra phe Blabla ragraphe Bla </p>
        </div>
    </div>

    <app-page-corners prevPath="presentation/competences" nextPath="presentation/passions/2"/>
</div>
