<div class="div-pages">
    <!-- Left Page -->
    <div class="div-left-page">
        <h1>Chapitre 3 (Bonus) : Mes Passions</h1>
        <div>
            <h2>
                < La Nintendo 3DS>
            </h2>
            <div class="div-img float-left rotated-left img-left">
                <img class="img-picture-medium" [src]="imgSrc.threeDSCollection">
            </div>
            <p>
                C'est ma console favorite, je pourrais parler pendant des heures de comment elle a révolutionné le jeu vidéo et de comment les smartphones et les jeux mobiles l'ont tuée.
                La 3DS est pour moi l'apogée du jeu vidéo portable, parfaite alliance de praticité et qualité.
            </p>
        </div>
        <div class="div-img float-right rotated-right bit-upper">
            <img class="img-picture-small" [src]="imgSrc.littleMe">
        </div>
        <br>
        <div>
            <p>
                J'ai récemment décidé de me lancer comme défis d'apprendre à moi aussi développer un jeu auquel je pourrais jouer sur cette console.
            </p>
            <div class="div-img float-left rotated-left img-left">
                <img class="img-picture-medium" [src]="imgSrc.current3DS">
            </div>
            <br><br><br><br>
            <p>Je n'ai aucun doute sur la complexité du projet car la console n'offre que très peu de mémoire comparée aux systèmes actuels, et donc peu de marge d'erreur, mais j'ai hâte d'apprendre.
            </p>
        </div>
    </div>

    <!-- Right Page -->
    <div class="div-right-page">
        <div>
            <h2>< La Lecture ></h2>
            <div class="div-img float-right rotated-right img-right">
                <img class="img-picture-medium" [src]="imgSrc.reciF">
            </div>
            <p>
                J'ai repris la lecture lors de ma L2, d'abord par des livres en anglais afin de retrouver mon niveau du lycée. Désormais je lis également des livres en français pour des questions de simplicité d'acquisition. 
            </p>
            <p>
                J'aime les livres qui me révèlent petit à petit une intrigue, où je peux ensuite soit résoudre le mystère par moi-même, ou me laisser porter par le récit. 
            </p>
            <p>
                À noter que je lis principalement des ouvrages écrits par des auteures féminines par fatigue du manque de représentation dans les livres des auteurs masculins.
            </p>
        </div>
        <div>
            <div class="div-img float-left rotated-left img-left">
                <img class="img-picture-medium" [src]="imgSrc.cleanCode">
            </div>
            <p>Je lis également des ouvrages sur l'informatique comme le Clean Code ou Design Patterns.</p>
            <p> 
                J'ai beaucoup appris de ces ouvrages et je trouve très satisfaisant de pouvoir citer des passages d'un  livre physique pour justifier mes choix algorithmiques.
            </p>
        </div>
    </div>

    <app-page-corners prevPath="projects/all/1" nextPath="bonus/passions/2"/>
</div>
