<div class="div-pages">
    <!-- Left Page -->
    <div class="div-left-page">
        <h1>Chapitre 3 (Bonus) : Mes Passions</h1>
        <h2>< Le crochet ></h2>
        <div class="spaced">
            <div class="div-img rotated-left">
                <img class="img-picture-small" [src]="imgSrc.placeholder">
            </div>
            <p>
                Quand je ne code pas et ne lis pas, je crochète. J'ai appris par moi même en seconde avec des vidéos youtube et des patterns en ligne.
            </p>
        </div>
        <div class="spaced">
            <p>
                Je fabrique majoritairement des peluches pour moi ou mes proches. Il arrive également que je fabrique des vêtements comme un pull ou un chapeau.
            </p>
            <div class="div-img rotated-right img-right">
                <img class="img-picture-medium" [src]="imgSrc.placeholder">
            </div>
        </div>
        <div class="spaced">
            <div class="div-img rotated-left">
                <img class="img-picture-small" [src]="imgSrc.placeholder">
            </div>
            <p>
                Comme pour la lecture, je trouve qu'il est très important d'avoir des hobbies qui permettent de sortir un peu des écrans et de faire de vraies pauses.
            </p>
        </div>
    </div>

    <!-- Right Page -->
    <div class="div-right-page">
        <div>
            <h2>< La Lecture ></h2>
            <div class="div-img float-right rotated-right">
                <img class="img-picture-medium" [src]="imgSrc.placeholder">
            </div>
            <p>
                J'ai repris la lecture pendant ma L2, d'abord des livres en anglais pour retrouver mon niveau du lycée. Désormais je lis également des livres en français pour des questions de simplicité d'acquisition. J'aime les livres qui me revèle petit à petit une intrigue, que je peux résoudre en reliant les points moi-même,
                ou me laisser portée par le récit. À noter que je lis principalement des ouvrages écrits par des auteures féminines par fatigue du manque de représentation dans les livres des auteurs masculins.
            </p>
        </div>
        <div>
            <div class="div-img float-left rotated-left img-left">
                <img class="img-picture-medium" [src]="imgSrc.placeholder">
            </div>
            <p>
                Je lis également des ouvrages sur l'informatique comme le Clean Code, Pattern Designs et Refactoring, j'ai également lu quelques livres de Mathieu Nebra comme C++ ou PHP. J'ai beaucoup appris de ces ouvrages et je trouve très satisfaisant de pouvoir sortir un livre pour justifier mes choix algorithmiques.
            </p>
        </div>
    </div>

    <app-page-corners prevPath="projects/all/1" nextPath="bonus/passions/2"/>
</div>
