<div class="div-book-open centered">
    @if (bookCoverWidth && bookCoverHeight) {
        <svg class="svg-book"
             [attr.width]="bookCoverWidth * 2"
             [attr.height]="bookCoverHeight">
            <!--   Book Cover     -->
            <rect [attr.width]="bookCoverWidth - 20"
                  [attr.height]="bookCoverHeight - 20"
                  class="svg-shadow"
                  x="0" y="0"
                  rx="5" ry="5"
                  [attr.fill]="'var(--color-1)'"/>
            <rect [attr.width]="bookCoverWidth - 20"
                  [attr.height]="bookCoverHeight - 20"
                  class="svg-shadow"
                  [attr.x]="bookCoverWidth" y="0"
                  rx="5" ry="5"
                  [attr.fill]="'var(--color-1)'"/>
            <!--   Pages     -->
            <rect [attr.width]="bookPageWidth"
                  [attr.height]="bookPageHeight"
                  class="svg-shadow"
                  x="28" y="18"
                  [attr.fill]="'var(--white)'"/>
            <rect [attr.width]="bookPageWidth"
                  [attr.height]="bookPageHeight"
                  class="svg-shadow"
                  [attr.x]="bookCoverWidth + 2" y="18"
                  [attr.fill]="'var(--white)'"/>
            <!--   Rings   -->
            @for (i of Array(15); track i; let index = $index;) {
                    <svg [attr.x]="bookPageWidth + 3" [attr.y]="index*49 + 16"
                         width="74" height="45">
                        <rect height="50" width="19"
                              x="0" y="20"
                              [attr.fill]="'var(--color-1)'"/>
                        <rect height="50" width="19"
                              x="55" y="20"
                              [attr.fill]="'var(--color-1)'"/>
                    </svg>
                    <svg [attr.x]="bookPageWidth +4" [attr.y]="index*49 + 5"
                         width="91" height="49" viewBox="0 -20 81 39" fill="none">
                        <path d="M7 22.277C7 19.047 8.8675 15.3974 13.3564 12.2653C17.8219 9.14964 24.3664 6.99967 31.9277 6.99963C39.4892 6.99963 46.0336 9.14962 50.499 12.2653C54.9881 15.3974 56.8555 19.047 56.8555 22.277C56.8553 25.5069 54.9879 29.1557 50.499 32.2877C46.0336 35.4034 39.4892 37.5533 31.9277 37.5533C24.3664 37.5533 17.8219 35.4033 13.3564 32.2877C8.86777 29.1558 7.00012 25.5068 7 22.277Z"
                              stroke="#D9D9D9" stroke-width="12"/>
                    </svg>
            }
        </svg>
    }

    <div class="div-on-open-book">
        <div class="div-tab-left">
            @for (tab of leftTabs; track tab) {
                <app-tab [title]="tab.title"/>
            }
        </div>

        <router-outlet/>

        <div class="div-tab-right">
            @for (tab of rightTabs; track tab) {
                <app-tab [title]="tab.title" [isCurrent]="tab == currentTab"/>
            }
        </div>
    </div>
</div>
