<div class="div-pages">
    <!-- Left Page -->
    <div class="div-left-page">
        <h1>Chapitre 3 : Me contacter</h1>
        <div class="alinea div-contact">
            <div class="div-contact">
                <h2>< E-Mail ></h2>
                <div class="alinea">
                    <h3><mark class="mark-color2">lili.goy&#64;etu.univ-grenoble-alpes.fr</mark></h3>
                    <p>N'hésitez pas à me contactez !</p>
                </div>
            </div>
            <div class="div-contact">
                <h2>< Linkedin ></h2>
                <div class="alinea">
                    <a href="https://www.linkedin.com/in/liligoy/"><h3><mark class="mark-color4">https://www.linkedin.com/in/liligoy/</mark></h3></a>
                    <p>N'hésitez pas à me contactez ici aussi !</p>
                </div>
            </div>
            <div class="div-contact">
                <h2>< GitHub ></h2>
                <div class="alinea">
                    <a href="https://github.com/LievreVolant"><h3><mark class="mark-color6">https://github.com/LievreVolant</mark></h3></a>
                    <p>Retrouvez les dernières avancées de mes projets juste ici</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Right Page -->
    <div class="div-right-page">
        <div class="div-bye">
            <h1 class="title-bye">À bientôt !</h1>
        </div>
    </div>

    <app-page-corners prevPath="bonus/passions/2" nextPath="back-cover"/>
</div>
