.div-languages {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: -20px;
    height: 100%;
}

.div-right-page .div-languages {
    height: 110%;
}

.div-language {
    display: flex;
    gap: 20px;
    align-items: center;
}

.div-language img {
    display: flex;
    width: calc(var(--book-page-width) * 0.17);
}

ul {
    list-style: url("/assets/images/icons/tabs/feather-dark.png");
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(3, 33px);
    gap: 0 50px;
    margin: 0 0 0 20px;
}

li {
    display: list-item;
    width: 100%;
    margin: 10px 0;
}

li a {
    display: block;
    transform: translateY(-5px);
}
