<div class="div-pages">
    <!-- Left Page -->
    <div class="div-left-page">
        <h2>< Mes Projets par Langage ou Framework ></h2>
        <div class="div-languages">
            @for (language of leftPageLanguages; track language) {
                <div class="div-language">
                    <a [href]="links.angular" target="_blank">
                        <img [title]="language" [alt]="language+' icon'" [src]="iconSrc.angular" />
                    </a>
                    <div>
                        <h3>{{ language }}</h3>
                        <ul>
                            @for (project of projectsService.getProjectsByLanguage(language); track project) {
                                <li>
                                    <a [href]="'projects/all/'+project.id">
                                        <p>{{ project.title }}</p>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>

    <!-- Right Page -->
    <div class="div-right-page">
        <div class="div-languages">
            @for (language of rightPageLanguages; track language) {
                <div class="div-language">
                    <a [href]="links.angular" target="_blank">
                        <img [title]="language" [alt]="language+' icon'" [src]="iconSrc.angular"/>
                    </a>
                    <div>
                        <h3>{{ language }}</h3>
                        <ul>
                            @for (project of projectsService.getProjectsByLanguage(language); track project) {
                                <li>
                                    <a [href]="'projects/all/'+project.id">
                                        <p>{{ project.title }}</p>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>

    <app-page-corners prevPath="projects" [nextPath]="`projects/all/${nbProjects}`"/>
</div>
