<div class="div-pages">
    <!-- Left Page -->
    <div class="div-left-page"></div>

    <!-- Right Page -->
    <div class="div-right-page">
        <h1><mark class="mark-color6">Sommaire</mark></h1>
        <div class="alinea">
            <a routerLink="/presentation"><h2><mark class="mark-color2">Chapitre 1 : Qui suis-je ?</mark></h2></a>
            <div class="alinea">
                <a routerLink="/presentation/career"><h3>Mes expériences professionnelles</h3></a>
                <a routerLink="/presentation/career"><h3>Mon parcours académique</h3></a>
                <a routerLink="/presentation/competences"><h3>Mes compétences</h3></a>
            </div>
            <a routerLink="/projects"><h2><mark class="mark-color3">Chapitre 2 : Mes Projets</mark></h2></a>
            <div class="alinea">
                <a routerLink="/projects/all"><h3><mark class="mark-color4">Tous mes projets</mark></h3></a>
                <div class="alinea">
                    <a routerLink="/projects/all/0"><h3>Titre de projet</h3></a>
                    <a routerLink="/projects/all/1"><h3>Titre de projet</h3></a>
                </div>
            </div>
            <a routerLink="/bonus/passions/1"><h2>Chapitre 3 (Bonus) : Mes Passions</h2></a>
            <a routerLink="/contact"><h2><mark class="mark-color7">Chapitre 4 : Me Contacter</mark></h2></a>
        </div>
    </div>

    <app-page-corners prevPath="" nextPath="presentation"/>
</div>
