<div class="div-page">
    <!-- Left Page -->
    <div class="div-left-page"></div>

    <!-- Right Page -->
    <div class="div-right-page">
        <h1>Sommaire</h1>
        <div class="alinea">
            <h2>Chapitre 1 : Qui suis-je ?</h2>
            <div class="alinea">
                <h3>Mes expériences professionnelles</h3>
                <h3>Mon parcours académique</h3>
                <h3>Mes compétences</h3>
                <h3>Mes passions</h3>
            </div>
            <h2>Chapitre 2 : Mes projets</h2>
            <div class="alinea">
                <h3>Mes projets favoris</h3>
                <h3>Mes derniers projets</h3>
                <h3>Tous mes projets</h3>
            </div>
            <h2>Chapitre 3 : Me contacter</h2>
        </div>
    </div>

    <app-page-corners prevPath="" nextPath="presentation"/>
</div>
