p {
    color: var(--white)
}

img {
    max-width: 50px;
    max-height: 40px;
    margin: 7px;
}

.div-tab, .div-tab-current {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

.div-tab {
    box-shadow: 3px 5px 5px var(--black);
}

.div-tab:hover, .div-tab-current:hover {
    box-shadow: 3px 5px 5px var(--grey);
}

.div-tab-current {
    margin-left: -60px;
}
