<div class="div-pages">
    <!-- Left Page -->
    <div class="div-left-page">
        <div>
            <h2>< La Nintendo 3DS ></h2>
            <div class="div-img float-left rotated-left img-left">
                <img class="img-picture-medium" [src]="imgSrc.placeholder">
            </div>
            <p>
                C'est ma console favorite, je pourrais parler pendant des heures de comment elle a révolutionné le jeu vidéo, comment les smartphones et les jeux mobiles l'ont tuée et de comment si la switch ne marche pas en tant que console portable c'est parce qu'elle n'a pas compris ce qui faisait l'intérêt de la 3DS.
                La 3DS est pour moi l'apogée du jeu vidéo portable, parfaite alliance de praticité et qualité.
            </p>
        </div>
        <br>
        <div>
            <div class="div-img float-right rotated-right img-right">
                <img class="img-picture-medium" [src]="imgSrc.placeholder">
            </div>
            <p>
                J'ai décidé de me lancer comme défis d'apprendre à moi aussi développer un jeu auquel je pourrais jouer sur cette console. Je n'ai aucun doute sur la complexité du projet car elle n'offre que très peu de mémoire comparée aux système actuels, et donc peu de marge d'erreur, mais j'ai hâte de me lancer.
            </p>
        </div>
    </div>

    <!-- Right Page -->
    <div class="div-right-page">
        <h2>< Mon chat ></h2>
        <!-- First line -->
        <div class="div-inline">
            <div class="div-img float-right rotated-right">
                <img class="img-picture-medium" [src]="upiaSrc.stairs">
            </div>

            <div class="div-img float-left rotated-left on-top">
                <img class="img-picture-small" [src]="upiaSrc.close">
            </div>
        </div>

        <!-- Second line -->
        <div class="div-inline">
            <div class="div-img float-left rotated-left upper on-top">
                <img class="img-picture-medium" [src]="upiaSrc.coding">
            </div>
            <p class="bottom">Elle est belle hein ? :3</p>
        </div>

        <!-- Third line -->
        <div class="div-inline upper">
            <div class="div-img float-left rotated-left">
                <img class="img-picture-small" [src]="upiaSrc.monster">
            </div>
            <div class="div-img float-right rotated-right">
                <img class="img-picture-medium" [src]="upiaSrc.washingMachine">
            </div>
        </div>

        <!-- Fourth line -->
        <div class="div-inline">
            <div class="div-img float-right rotated-right upper on-top">
                <img class="img-picture-small" [src]="upiaSrc.sleeping">
            </div>
        </div>

        <!-- Fith line -->
        <div class="div-img float-left rotated-left upper">
            <img class="img-picture-medium" [src]="upiaSrc.bed">
        </div>
    </div>

    <app-page-corners prevPath="bonus/passions/1" nextPath="contact"/>
</div>
