.div-languages {
    display: flex;
    justify-content: space-around;
}
.div-projects {
    display: flex;
    justify-content: space-between;
}

.div-project {
    width: calc(var(--book-page-width)* 0.4);
}
