<div class="div-pages">
    <!-- Left Page -->
    <div class="div-left-page">
        <h1>Chapitre 1 : Qui-suis-je ?</h1>
        <div class="div-img float-left rotated-left img-left">
            <img title="Ma photo" alt="Ma photo" class="img-picture-large" src="assets/images/upia_monster.png">
        </div>
        <h2>< Présentation ></h2>
        <p>Comme vous le savez sans doute déjà si vous lisez ces mots, je m’appelle Lili et je suis développeuse. Je me passionne depuis petite pour les jeux-vidéos et l’informatique, j’aime énormément apprendre de nouveaux langages et de nouvelles façon de développer avec ceux que je connais déjà. En ce moment je me passionne à apprendre comment développer des jeux pouvant fonctionner sur des consoles rétro comme la Gamecube ou la 3DS.  Amusez-vous à parcourir mon portfolio et n’hésitez pas à me contacter pour quelconque projet ! Amusez-vous à parcourir mon portfolio et n’hésitez pas à me contacter pour quelconque projet !</p>

        <h2>< Langages de prédilection ></h2>
        <div class="div-languages">
            <img title="Angular" alt="Angular" class="img-sticker clickable" src="assets/images/icons/languages/angular.png">
            <img title="Angular" alt="Angular" class="img-sticker clickable" src="assets/images/icons/languages/angular.png" >
            <img title="Angular" alt="Angular" class="img-sticker clickable" src="assets/images/icons/languages/angular.png">
        </div>
    </div>

    <!-- Right Page -->
    <div class="div-right-page">
        <h2>< Actuellement ></h2>
        <h3>Développeuse C# Alternante chez Corys & Étudiante en BUT informatique</h3>
        <p>Comme vous le savez sans doute déjà si vous lisez ces mots, je m’appelle Lili et je suis développeuse. Je me passionne depuis petite pour les jeux-vidéos et l’informatique, j’aime énormément apprendre de nouveaux langages et de nouvelles façon de dév pouvant fonctionner sur des consoles rétro comme la Gamecube ou la 3DS.  Amusez-vous à parcourir mon portfolio et n’hésitez pas à me contacter pour quelconque projet ! Amusez-vous à parcourir mon portfolio et n’hésitez pas à me contacter pour quelconque projet !</p>

        <h2>< Projets en cours ></h2>
        <div class="div-projects">
            <div class="div-project">
                <div class="div-img rotated-left img-left">
                    <img title="Titre du projet" alt="Titre du projet" class="img-picture-small" src="assets/images/upia_monster.png">
                </div>
                <h4>Titre du projet</h4>
                <p>Description brève du projet</p>
            </div>

            <div class="div-project">
                <div class="div-img rotated-right img-right">
                    <img title="Titre du projet" alt="Titre du projet" class="img-picture-small" src="assets/images/upia_monster.png">
                </div>
                <h4>Titre du projet</h4>
                <p>Description brève du projet</p>
            </div>
        </div>
    </div>

    <app-page-corners prevPath="summary" nextPath="presentation/career"/>
</div>
