.div-corner-wrapper {
    display: flex;
    position: absolute;
    width: calc(var(--book-page-width) * 2 + 2px);
    bottom: 41px;
    left: -13px;
    pointer-events: none;
}

.left-corner, .right-corner {
    width: 96px;
    height: 100px;
    pointer-events: auto;
}

.left-corner {
    left: 0;
}
.right-corner {
    position: absolute;
    right: 32px;
}
