<div class="div-pages">
    <!-- Left Page -->
    <div class="div-left-page">
        <h2>< Expérience Professionnelle ></h2>
        <div class="spaced-vertical">
            <div>
                <div class="spaced">
                    <h3>Développeuse C# Alternante chez <a [href]="links.corys" target="_blank"><mark class="mark-color4">Corys</mark></a></h3>
                    <p>octobre 2025 - août 2026</p>
                </div>
                <h4>Description</h4>
                <p>
                    Reprise et finalisation du développement de <a routerLink="/projects/all/8"><mark class="mark-color3">l'IndissPlus Launcher</mark></a>, une application windows d'orchestration d'actions, utilisée par les instructeurs lors de sessions de formation pour les opérateurs d'usines.
                </p>
                <h4>Compétences</h4>
                <p>
                    <a class="a-color2" [href]="links.csharp" target="_blank">Développement d'une application windows en C#</a>, <a class="a-color4" [href]="links.dotnet" target="_blank">.NET Framework et WPF</a>
                    · <a class="a-color4" [href]="links.mvvm" target="_blank">Architecture MVVM</a> · Suivi des bonnes pratiques du <a class="a-color3" [href]="links.cleancode" target="_blank">“Clean Code”</a>
                    · Suivis de l'avancement via <a class="a-color2" [href]="links.gitlab" target="_blank">Gitlab</a>
                    · <a class="a-color6" [href]="links.scrum" target="_blank">Méthodologie de travail SCRUM</a>
                </p>
            </div>

            <div>
                <div class="spaced">
                    <h3>Développeuse Angular Stagiaire chez <a [href]="links.cba" target="_blank"><mark class="mark-color2">CBA</mark></a></h3>
                    <p>avril 2025 - juin 2025</p>
                </div>
                <h4>Description</h4>
                <p>
                    Développement de deux applications internes à l'entreprise, l'une web <a routerLink="/projects/all/4"><mark class="mark-color6">(BloomyFleet)</mark></a> et l'autre mobile, permettant la  gestion du parc de lecteurs de cartes développés en interne.
                </p>
                <h4>Compétences</h4>
                <p>
                    Développement frontend en <a [href]="links.angular" class="a-color2" target="_blank">Angular</a>, <a [href]="links.capacitor" class="a-color3" target="_blank">Capacitor</a> et <a [href]="links.graphql" class="a-color6" target="_blank">GraphQl</a>
                    · <a class="a-color4" [href]="links.scrum" target="_blank">Méthodologie de travail SCRUM</a>
                </p>
            </div>
        </div>
    </div>

    <!-- Right Page -->
    <div class="div-right-page">
        <h2>< Parcours Académique ></h2>
        <div class="grid-education">

            <h4>2027</h4>
            <div class="link">
                <div class="dot color-6"></div>
                <div class="line color-6"></div>
            </div>
            <div class="div-content">
                <a [href]="links.miashs" class="a-color6" target="_blank"><h3>Master MIASHS Parcours Informatique et Cognition</h3></a>
                <div>
                    <p>
                        Le master MIASHS me permettra de compléter mon parcours académique en acquérant des connaissances plus pointues sur l'ergonomie et la psychologie, ainsi que des connaissances théoriques générales sur l'informatique.
                    </p>
                </div>
            </div>

            <h4>2026</h4>
            <div class="link">
                <div class="dot color-2"></div>
                <div class="line color-2"></div>
            </div>
            <div class="div-content">
                <a [href]="links.but" class="a-color2" target="_blank"><h3>BUT Informatique Parcours Réalisation d'Application</h3></a>
                <div>
                    <p>
                        Acquisition d'une large base de connaissances sur le développement logiciel et mise en pratique de ces dernières lors du stage de deuxième année et de l'alternance réalisée sur la troisième.
                        Participation à de nombreux évènements en tant que représentante du BUT.
                    </p>
                </div>
            </div>

            <h4>2024</h4>
            <div class="link">
                <div class="dot color-3"></div>
                <div class="line color-3"></div>
            </div>
            <div class="div-content">
                <a [href]="links.licence" class="a-color3" target="_blank"><h3>Licence Informatique</h3></a>
                <div>
                    <p>
                        Construction de bases théoriques en informatique tout en confirmant mon souhait de développer en priorité mes compétences techniques.
                    </p>
                </div>
            </div>

            <h4>2022</h4>
            <div class="link">
                <div class="dot color-4"></div>
                <div class="line color-4"></div>
            </div>
            <div class="div-content">
                <a [href]="links.pasteur" class="a-color4" target="_blank"><h3>Lycée Louis Pasteur</h3></a>
                <div>
                    <p>Maths - NSI - Anglais Littéraire</p>
                    <p>Première expérience du code, dev web et python.</p>
                </div>
            </div>

            <h4>2019</h4>
            <div class="link">
                <div class="dot color-5"></div>
                <div class="line color-5"></div>
            </div>
            <div class="div-content">
                <a [href]="links.lasalle" class="a-color5" target="_blank"><h3>Collège LaSalle</h3></a>
                <div>
                    <p>Option numérique, découverte du dev dès la 6ème.</p>
                    <p>4ème et 3ème euro-anglais,</p>
                    <p>Échanges scolaires en Angleterre et Australie</p>
                </div>
            </div>
        </div>
    </div>

    <app-page-corners prevPath="presentation" nextPath="presentation/competences"/>
</div>
