<div class="div-pages">
    <!-- Left Page -->
    <div class="div-left-page">
        <h2>< Expérience ></h2>
        <div class="spaced">
            <h3>Développeuse C# Alternante chez Corys</h3>
            <p>octobre 2025 - août 2026</p>
        </div>
        <p>
            Reprise du développement d'une application windows utilisé par les instructeurs d'opérateurs d'usines afin de mettre en place les sessions d'entrainement et de suivre le bon déroulement de l'exécution de la mise en place. 
        </p>
        <p>
            Dévelopepment d'une application windows en C#, .NET Framework et WPF · Architecture MVVM · Suivi des bonnes pratiques du “Clean Code” · Suivis de l'avancement via Gitlab · Méthodologie de travail SCRUM
        </p>
        <div class="spaced">
            <h3>Développeuse Angular Stagiare chez CBA</h3>
            <p>avril 2025 - juin 2025</p>
        </div>
        <p>
            Développement de deux applications internes à l'entreprise, l'une web et l'autre mobile, permettant la  gestion du parc de lecteurs de cartes développés en interne. 
        </p>
        <p>Développement frontend en Angular, Capacitor et GraphQl ·  Méthodologie de travail SCRUM</p>
    </div>

    <!-- Right Page -->
    <div class="div-right-page">
        <h2>< Éducation ></h2>
    </div>

    <app-page-corners prevPath="presentation" nextPath="presentation/competences"/>
</div>
