<div class="div-pages">
    <!-- Left Page -->
    <div class="div-left-page">
        <h1>Chapitre 2 : Mes Projets</h1>
        <h2>< Mes projets principaux ></h2>
        <div class="centered">
            <div class="div-img">
                <a routerLink="/projects/all/9" class="block">
                    <img class="img-picture-large" [src]="imgSrc.minesweeper">
                </a>
            </div>
        </div>
        <a routerLink="/projects/all/9"><h3><mark class="mark-color4">
            < Awesome Minesweeper >
        </mark></h3></a>
        <p>
            À l'origine un projet de cours pour nous faire découvrir Dart et Flutter. J'ai adoré développer une application que je pouvais lancer sur mon téléphone et partager à mes amis et j'ai donc poursuivi le développement du jeu bien plus loin que ce qui était attendu. Awesome Minesweeper m'a permis de découvrir le processus de déploiement d'une application sur le Play Store.
        </p>
    </div>

    <!-- Right Page -->
    <div class="div-right-page">
        <div class="spaced-vertical">
            <div>
                <a routerLink="/projects/all/5"><h3><mark class="mark-color6">
                    < La Sorcière des Ombres>
                </mark></h3></a>
                <div class="spaced">
                    <p>
                        Projet réalisé dans le cadre de la GameJam de rentrée en troisième année de BUT. En équipe de 6 nous avons pu
                        développer un jeu en Python autour du thème du Moyen-Age et de la méchanique de jeu de la disparition.
                    </p>
                    <div class="div-img rotated-right">
                        <a routerLink="/projects/all/5" class="block">
                            <img class="img-picture-medium" [src]="imgSrc.shadowWitchCrop">
                        </a>
                    </div>
                </div>
            </div>
            <div>
                <a routerLink="/projects/all/6"><h3><mark class="mark-color2">
                    < Ce Portfolio>
                </mark></h3></a>
                <div class="spaced">
                    <div class="div-img rotated-left">
                        <a routerLink="/projects/all/6" class="block">
                            <img class="img-picture-medium" [src]="imgSrc.portfolio">
                        </a>
                    </div>
                    <p>
                        Ce portfolio est aussi un projet en lien avec le BUT. Nous avions comme consigne de réaliser un portfolio web
                        professionnel et/ou qui nous représente. Je l'ai réalisé en Angular.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <app-page-corners prevPath="presentation/competences" nextPath="projects/all"/>
</div>
