$color-1: #312d38;
$color-2: #7F51A3;
$color-3: #3599C4;
$color-4: #69D1FE;
$color-5: #CCF0FF;
$color-6: #FF89D8;
$white: #FFFDFA;
$grey: #D9D9D9;
$dark-grey: #8a8a8a;
$black: #3f3f3f;

/*$color-1: #0B1E38;
$color-2: #173679;
$color-3: #4888C8;
$color-4: #7FC5DC;
$color-5: #E8E163;
$color-6: #DB901C;*/

$book-cover-width: 666px;
$book-cover-height: 800px;
$book-page-width: $book-cover-width - 50px;
$book-page-height: $book-cover-height - 60px;

:root {
    --color-1: #{$color-1};
    --color-2: #{$color-2};
    --color-3: #{$color-3};
    --color-4: #{$color-4};
    --color-5: #{$color-5};
    --color-6: #{$color-6};
    --white: #{$white};
    --grey: #{$grey};
    --dark-grey: #{$dark-grey};
    --black: #{$black};

    --book-cover-width: #{$book-cover-width};
    --book-cover-height: #{$book-cover-height};
    --book-page-width: #{$book-page-width};
    --book-page-height: #{$book-page-height};
}

@font-face { font-family: 'Valentine'; src: url('/assets/fonts/Valentine Delight.ttf') }
@font-face { font-family: 'Diary'; src: url('/assets/fonts/Diary Story.otf') }
@font-face { font-family: 'Written'; src: url('/assets/fonts/Sweetest Cat Ever.ttf') }
@font-face { font-family: 'Catfont'; src: url('/assets/fonts/Catfont-Regular.ttf.otf') }

html {
    background-size: cover;
    background-image: url("assets/images/wood.png");
    overflow: hidden;
}

h1, h2, h3, h4, p {
    color: $black;
    font-family: 'Diary', serif;
}

h1 {
    font-size: 2.5rem;
    margin: 0 0 0.75rem;
}
h2 {
    font-size: 2rem;
    margin: 10px 0;
}
h3 {
    font-size: 1.5rem;
    margin: 7px 0;
}
h4 {
    font-size: 1.4rem;
    margin: 7px 0;
}
p {
    font-size: 1.1rem;
    margin: 0;
    text-align: justify;
    font-family: 'Written', serif;
}
a {
    text-decoration: none;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}
.float-left {
    float: left;
    margin-right: 15px;
}
.float-right {
    float: right;
    margin-left: 15px;
}

.rotated-left {
    transform: rotate(-7deg);
}
.rotated-right {
    transform: rotate(7deg);
}

.on-top {
    z-index: 3;
}

.alinea {
    padding: 0 0 0 50px;
}

.clickable {
    cursor: pointer;
}

.mark-color1 {
     background-color: rgba($color-1, 0.5);
 }
.mark-color2 {
    background-color: rgba($color-2, 0.5);
}
.mark-color3 {
    background-color: rgba($color-3, 0.5);
}
.mark-color4 {
    background-color: rgba($color-4, 0.5);
}
.mark-color5 {
    background-color: rgba($color-5, 0.5);
}
.mark-color6 {
    background-color: rgba($color-6, 0.5);
}

.div-inline {
    display: flex;
}

.div-pages {
    display: flex;
    position: relative;
    margin-left: -21px;
    width: $book-page-width * 2 + 2;
    height: $book-page-height - 25;
}
.div-left-page, .div-right-page {
    width: $book-page-width - 100;
    height: $book-page-height - 80;
    margin-top: 10px;
}

.div-left-page {
    margin-left: 45px;
}

.div-right-page {
    margin-left: 115px;
}

.div-single-page {
    display: flex;
    position: relative;
    width: $book-page-width - 225;
    height: $book-page-height - 237;
    margin: 141px 150px;
    flex-direction: column;
    align-items: center;
}

.div-book-open {
    position: relative;
    height: var(--book-cover-height);
    width: calc(var(--book-cover-width) * 2);
}
.div-book-closed {
    position: relative;
    height: var(--book-cover-height);
    width: var(--book-cover-width);
}

.svg-book {
    position: absolute;
    z-index: 0;
}

.svg-shadow{
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.5));
}

.div-on-book, .div-on-open-book {
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 1;
}

.div-tab-left, .div-tab-right {
    display: flex;
    flex-direction: column;
    height: calc($book-cover-height * 0.75);
    width: 150px;
    margin-top: 40px;
}

.div-tab-right {
    align-items: flex-start;
}

.div-tab-left {
    position: relative;
    align-items: flex-end;
}

.div-tab-left app-tab .div-tab {
    align-items: flex-start;
    right: 21px;
    box-shadow: -4px 5px 5px $black;
}

.div-img {
    display: inline-block;
    background-color: white;
    margin: 15px auto;
    padding: 10px;
    box-shadow: 5px 5px 5px $dark-grey;
}

.img-picture-large, .img-picture-small {
    display:block;
    object-fit: cover;
}

.img-picture-large {
    width: $book-page-width * 0.45;
    height: $book-page-height * 0.24;
}

.img-picture-small {
    width: $book-page-width * 0.3;
    height: $book-page-height * 0.16;
}

.img-left {
    margin: 15px 15px 12px -25px;
}
.img-right {
    margin: 15px -17px 22px 10px;
}

.img-sticker {
    height: $book-page-height * 0.15;
}
