<div class="div-pages">
    <!-- Left Page -->
    <div class="div-left-page">
        <h2>< Awesome Minesweeper ></h2>
        <div class="div-languages">

        </div>
        <h3>Présentation</h3>
        <p>
            Awesome Minesweeper c'est un projet qui a démarré comme un projet guidé lors de ma troisième année de BUT.
        </p>
        <h3>Objectifs</h3>
        <p>Développer un projet de la conception au déploiement, découvrir la publication sur le PlayStore</p>
        <h3>Conception</h3>
        <div class="div-img rotated-right">
            <img class="img-picture-medium" [src]="imgSrc.placeholder">
        </div>
    </div>

    <!-- Right Page -->
    <div class="div-right-page">
        <h3>Réalisation</h3>
        <div class="div-img rotated-left">
            <img class="img-picture-medium" [src]="imgSrc.placeholder">
        </div>
        <h3>À venir</h3>
        <p>Il reste toujours quelques bugs à régler. Une fois la version actuelle solide j'aimerai la déployer officiellement sur le PlayStore. Une fois cela fait, je rajouterai des mises à jour comme l'ajout de thêmes ou des modes multijoueurs.</p>
    </div>

    <app-page-corners prevPath="projects/all" nextPath="bonus/passions/1"/>
</div>
