<div class="div-pages">
    <!-- Left Page -->
    <div class="div-left-page">
        @if (project) {
            <h2>< {{ project.title }}></h2>
            <div class="div-languages">
                @for (language of project.languages; track project.languages) {
                    <p>{{ language }}</p>
                }
            </div>

            <h3>Présentation</h3>
            <p>{{ project.description }}</p>

            <h3>Objectifs</h3>
            <p>{{ project.goals }}</p>

            <h3>{{ project.first_paragraph.title }}</h3>
            <p>{{ project.first_paragraph.text }}</p>
        }
    </div>

    <!-- Right Page -->
    <div class="div-right-page">
        @if (project) {
            <h3>{{ project.second_paragraph.title }}</h3>
            <p>{{ project.second_paragraph.text }}</p>

            <h3>{{ project.third_paragraph.title }}</h3>
            <p>{{ project.third_paragraph.text }}</p>
        }
    </div>

    <app-page-corners [prevPath]=getPrevPage() [nextPath]=getNextPage() />
</div>
